body{   
font-family: 'Inter', sans-serif;
margin: 0;
}

#banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#banner-header{
    width: 820px;
    color: #fff
   
}

#banner-description{
    width: 691px;
    color: #fff;
}

h1{
    font-size: 65px;
    line-height: 78px;
}

p{
    font-size: 18px;
    line-height: 28px;
}

#banner{
    background-image: url(./images/donation13.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

.main-btn{
    background-color: tomato;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
}

#donate-today{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-text{
    width: 600px;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

h2{
    font-size: 45px;
}

.donate-tiles{
    display: flex;
    justify-content: center;
}

.donate-tile{
    width: 360px;
    height: 360px;
    border-radius: 5px;
    margin: 20px;
}

.donate-tile2{
    width: 135px;
    height: 135px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-1{
    background-color: rgba(79, 157, 166, 0.1);
}

.tile-2{
    background-color: rgba(255, 89, 89, 0.1);
}

.tile-3{
    background-color: rgba(255, 244, 214, 1);
}

.tile-text{
    padding: 40px;
}

.tile-text2{
    padding: 30px;
}
.tile-text2 h2{
    font-size: 30px;
}

.donate-input{
    width: 500px;
    border: none;
    margin-top: 50px;
    text-align: center;
}

hr{
    border-top: 2px solid grey;
    width: 765px;
    margin-bottom: 20px;
}

.subscribe{
    width: 800px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 244, 214, 1);
    margin: 30px;
    border-radius: 5px;
}

.subscribe input{
    height: 48px;
    width: 275px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    background-color: rgba(217, 217, 217, 1);
}

.subscribe button{
    height: 48px;
    width: 150px;
    color: #fff;
    background-color: tomato;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

footer{
    background-color: #0B0D17;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-header{
    font-family: 'Lobster', cursive;
    color: rgba(255, 89, 89, 1);
    font-size: 36px;
}

footer p{
    font-size: 14px;
    color: lightgray;
}

.our-services{
    display: flex;
}

.half-width{
    width: 50%;
    
}

.intro{
    height: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(./images/whatWeDo.jpg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.quarter-width{
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-1{
    display: flex;
    
}
.services-2{
    display: flex;
}



.service-tile-1{
    background-image: url(./images/emergency.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
.service-tile-2{
    background-image: url(./images/Medical.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
.service-tile-3{
    background-image: url(./images/humanity.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
.service-tile-4{
    background-image: url(./images/join.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.our-services{
    margin-top: 100px;
}

.our-services h3{
    font-size: 45px;
    text-align: center;
}